[include]
    path = .gitconfig.local
[core]
    editer = /usr/bin/vim
    filemode = false
    autocrlf = false
    symlinks = false
[alias]
    aliass = config --get-regexp alias
    me = config --get-regexp user
    aa = add --all
    ap = add --patch
    l = log --oneline
    ld = log --oneline --decorate
    ls = log --oneline --decorate --stat
    lg = log --oneline --decorate --graph
    s = status
    b = branch
    c = checkout
    co = commit
    d = diff
    dn = diff
    ds = diff --cached
    dd = !sh -c 'git diff ${1:-HEAD}~ ${1:-HEAD} $2 $3 $4 $5 $6 $7 $8 $9' -
    ibm = !sh -c 'git rebase -i $(git merge-base ${1:-master} HEAD)' -
    ibn = !sh -c 'git rebase -i HEAD~${1:-$(expr $(git rev-list HEAD | wc -l) - 1)}' -
    rs = rebase --skip
    pick = cherry-pick
    unstage = reset HEAD --
    cancel = reset --soft HEAD^
[color]
    ui = auto
