[core]
    editer = /usr/bin/vim
    filemode = false
    autocrlf = false
    symlinks = false
[alias]
    l = log --oneline -10
    s = status
    b = branch
    c = checkout
    d = diff
    dn = diff
    ds = diff --cached
    rs = rebase --skip
[color]
    ui = auto
