*~
#
# emacs
elscreen
smex-items
ac-comphist.dat
elpa/
.emacs.d/viper
.emacs.d/recentf
.emacs.d/backup/
.emacs.d/eshell/
.emacs.d/el-get/
.emacs.d/url/
.emacs.d/session*
#
# vim
.vim/bundle/
.vim/.netrwhist
.vim/bugreport.txt
